.feedback-form__container {
  transform: translateX(700px);
  transition-duration: 1s;
  display: none;
}

.feedback-form__container.feedback-form__container_block {
  display: block;
}

.feedback-form__container.feedback-form__container_show {
  visibility: visible;
  transform: translateX(0px);
  transition-duration: 0.7s;
}

.feedback-form__button-close {
  background: transparent;
  border: none;
  background: url("/img/svg/burger_close.svg") no-repeat center;
  width: 40px;
  height: 40px;
  margin: 24px 16px 40px;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .feedback-form__container {
    width: 440px;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    z-index: 150;
  }

  .feedback-form__button-close {
    position: absolute;
    left: -100px;
  }
  .feedback-form__header {
    margin-top: 32px;
  }

  .feedback-form__button-send {
    position: relative;
    left: 60%;
    right: 0;
    background: transparent;
    border: none;
    background: url("/img/svg/send-button.svg") no-repeat center;
    width: 136px;
    height: 32px;
    margin: 24px 16px 40px;
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .feedback-form__container {
    width: 320px;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    z-index: 150;
  }

  .feedback-form__button-send {
    position: relative;
    left: 40%;
    right: 0;
    background: transparent;
    border: none;
    background: url("/img/svg/send-button.svg") no-repeat;
    width: 136px;
    height: 32px;
    margin: 24px 16px 40px;
    cursor: pointer;
  }
}

.feedback-form__header {
  font-family: $lakes-bold;
  font-size: 24px;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: relative;
    width: 4px;
    height: 40px;
    background: $aqua;
    margin-right: 16px;
    border-radius: 0 50px 50px 0;
    left: 0px;
  }
}

.feedback-form__input {
  margin: 16px 16px 0 16px;
  width: 85%;
  height: 20px;
  border: 1px solid $divider_color;
  border-radius: 8px;
  padding: 10px;
  font-family: $lakes-regular;
  &:first-child {
    margin: 24px 16px 0 16px;
  }
  &::placeholder {
    color: $pagination-color;
  }
}

textarea {
  margin: 16px 16px 0 16px;
  width: 85%;
  height: 80px;
  border: 1px solid $divider_color;
  border-radius: 8px;
  padding: 10px;
  background-color: $background-transparent;
  font-family: $lakes-regular;
  resize: none;
  &::placeholder {
    color: $pagination-color;
  }
}

.feedback-form__text {
  font-family: $lakes-medium;
  font-size: 14px;
  margin: 16px;
  color: $grey;
  width: 85%;
  a {
    background: transparent;
    color: $red;
    text-decoration: none;
  }
}

.feedback-form__send-form {
  display: flex;
}
