.menu-container {
  font-family: $lakes-medium;
  max-height: 100vh;
  z-index: 20;
}

@media screen and (min-width: 1365px) {
  .menu-header {
    padding-top: 54px;
    min-width: 280px;
  }
}

@media screen and (max-width: 1365px) {
  .menu-header {
    min-width: 280px;
  }
}

.menu-header__block-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-header__button-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
.menu-header__button-close {
  padding: 0;
  border: none;
  background-color: $background-transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("/img/svg/burger_close.svg") no-repeat;
  margin-right: 17px;
}
.menu-header__logo {
  height: 52px;
  width: 98px;
}
.menu-header__button-search {
  padding: 0;
  border: none;
  background-color: $background-transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("/img/svg/search.svg") no-repeat;
}
.menu-header__button_margin {
  margin-right: 16px;
}

@media screen and (min-width: 1365px) {
  .menu-header__button-close {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1365px) {
  .menu-container {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      10px 0px 52px rgba(14, 24, 80, 0.2);
  }
}

@media screen and (min-width: 1366px) {
  .menu-container {
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    max-width: 320px;
    background: $white;
    max-height: 100vh;
  }

  .menu {
    position: sticky;
  }
}
@media screen and (max-width: 1365px) {
  .menu-container {
    position: $position-absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    transform: translateX(-700px);
    transition-duration: 0.8s;
    padding: 20px;
  }

  .menu-container.menu-container_show {
    transform: translateX(0px);
    transition-duration: 0.7s;
    background: $white;
  }
}

.menu-footer__button-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-footer__call-button {
  padding: 0;
  border: none;
  background-color: $background-transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("/img/svg/call.svg");
}
.menu-footer__chat-button {
  padding: 0;
  border: none;
  background-color: $background-transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("/img/svg/chat.svg");
}

.menu-footer__profile-button {
  padding: 0;
  border: none;
  background-color: $background-transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("/img/svg/profile.svg");
}
.menu-footer__button_margin {
  margin-right: 16px;
}
.menu-footer__email {
  text-decoration: none;
  color: $color-text;
  &:hover {
    opacity: 0.5;
    transition: 1s;
  }
}
.menu-footer__tel {
  text-decoration: none;
  color: $color-text;
  font-family: $lakes-bold;
  font-size: 24px;
}
.menu-footer__block-contact {
  margin-top: 16px;
}
.menu-footer__change-lang {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}
.menu-footer__change-lang-button {
  border: none;
  padding-bottom: 98px;
  background-color: $background-transparent;
  cursor: pointer;
  width: 25px;
  &:not(:last-of-type) {
    margin-right: 7px;
  }
  &:hover {
    opacity: 0.5;
    transition: 1s;
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
  min-height: 57vh;
  padding-top: 50px;
}

.menu-links__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-text;
  margin-bottom: 32px;
  &:hover {
    opacity: 0.5;
    transition: 1s;
  }
}

.menu-links__link_active {
  &::before {
    content: "";
    position: $position-absolute;
    width: 4px;
    height: 32px;
    left: 0;
    background: $aqua;
    border-radius: 0 50px 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    width: 80%;
  }
}
