$content-width: 1120px;
$body-color: #f8f8f8;
$border-top-color: #d9fff5;
$white: white;
$color-text-button: #7e7e82;
$color-text: #1b1c21;
$transparent: transparent;
$lakes-bold: "TT Lakes Bold";
$lakes-regular: TT Lakes Regular;
$lakes-medium: TT Lakes Medium;
$position-relative: relative;
$position-absolute: absolute;
$background-transparent: transparent;
$divider_color: #eaeaea;
$aqua: #41f6d7;
$grey: #7e7e82;
$red: #ff3e79;
$pagination-color: #b5b6bc;
